.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-brand {
  font-family: 'Baloo Bhai', cursive;
  font-size: 300%;
}

.navbar-default {
  background: white;
}
