<ul class="title">
  <li class="animation"></li>
  <li class="animation"></li>
  <li class="animation"></li>
  <li class="animation"></li>
  <li class="animation">
    <h1 id="goodDeeds" class="quote"> "Good deeds should</h1>
      <h1 class="quote"> be done with</h1>
      <h1 class="quote"> intention not</h1>
      <h1 class="quote">for attention"</h1></li>
    </ul>
    <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->


    <!-- <img src="https://pbs.twimg.com/media/Bzu1axYCEAAhMU1.jpg">  -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>Welcome to vibe the app full of good vibes. Need help with something?, or do you want to help someone? Well, we're the app for you! All you need to do is click
              'Find a Deed' and away you go. &hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Find a deed</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
