html, body {
  height: 100%;
}

body {
  font-family: Comfortaa;
  color: #2b2b2b;
  background-color: fffff9;
  // border: 10px solid #fffab9;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.back {
    display: inline-block;
    padding: 10px 15px;
    background: #f95c27;
    color: black;
}

ul {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#top, #bottom, #left, #right {
	background: #fffab9;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

img {
// margin-right: 23px;
margin-top: -255px;
    margin-left: -220px;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    filter: alpha(opacity=50);
        margin-top: -232px;
  }
    img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.navbar-default .navbar-brand {
border-bottom: 2px solid black;
    border-top: 2px solid black;
  }

  h1{
    font-family: baloo bhai;
    text-align: center;
    

  }

  h2 {
    font-family: baloo bhai;
    text-align: center;

  }

  h3 {
    font-family: baloo bhai;
    text-align: center;

  }
