html, body {
  height: 100%;
}

body {
  font-family: Comfortaa;
  color: #2b2b2b;
  background-color: fffff9;
  // border: 10px solid #fffab9;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.back {
    display: inline-block;
    padding: 10px 15px;
    background: #f95c27;
    color: black;
}

ul {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#top, #bottom, #left, #right {
	background: #fffab9;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
