@import "bower";

// Variables
$yellow: #fff578;
$white:  #ffffff;
$black:  #2b2b2b;
$grey:   #878787;
$body-font-color: $black;
$body-font-family: comfortaa, serif;

// Structure
html, body {
  height: 100%;
  min-height: 100%;
}


body {
  margin: 10px;
  background: $white;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form.chat {
  color: $grey;
}


#adobewordpress {
  background-color: #f4f6f1;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #888;
  // -moz-box-shadow: 10px 10px 10px #ccc;
  // -webkit-box-shadow: 10px 10px 10px #ccc;
  // box-shadow:10px 10px 10px #ccc;
  // box-shadow: 10px 10px 5px #888888;
}

form.chat .message p {
  color: $grey;
}

#top, #bottom, #left, #right {
  background: $yellow;
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 10px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 10px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

// Typeography
body {
  color: $body-font-color;
  font-family: $body-font-family;
}

#goodDeeds {
  margin-top: 50px;
}

.quote{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#vibes {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  color: $grey;
}

// forms

.form {
  width: 500px;
  position: fixed;
  left: 30%;
}
#deedModal {
  text-align: center;
}
.button {
  background-color: $grey;
  border: 5px solid $grey;
  border-radius: 5px;
  color: $black;
  list-style: none;
}


// Modules, e.g. header, footer

.navbar-default {
  background-color: $white;
  border-color:     $white;
}

.navbar {
  min-height: 200px;
  line-height: 200px;
}

.navbar-nav > li,
.navbar-nav > li > a,
.navbar-brand {
  line-height: 200px;
  min-height: 200px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 50px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.navbar-default .navbar-brand {
  color: $body-font-color;

  &:hover {
    font-weight: bolder;
  }

  &.active {
    background-color: $yellow !important;
    background: linear-gradient($white 35%, $yellow 60%, white 30%);
  }

}

  img {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;

  }

  ul.box.ng-scope {
    // margin-top: -150px;
    margin-right: -150px;
  }

  h1.ng-scope {
    text-align: center;
  }

  .container {
    list-style: none;
  }

  .col-sm-4 {
    padding-top: 15px;
  }

  .mainCard {
    width: 310px;
    height: 310px;
    .cardDiv{
      height: 100px;
      width: 300px;
      z-index: 1000;
      margin-top: -70px;
      .cardText{
        color: white;
        margin: 5px;
      }
    }
  }

  // Partials, e.g. Specific pages
  @import "partials/requests/show";


  // animations
  // .title {
  //   position: absolute;
  //   margin: auto;
  //   top: 0; left: 0; bottom: 0; right: 0;
  //   width: 150px;
  //   height: 150px;
  //   padding: 0;
  //   list-style: none;
  //   text-align: center;
  // }

  .animation {
    position: absolute;
    width: 450px ;
    height: 450px ;
    border-radius: 5px;
    background: $yellow;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -250px;
  }
  .animation:nth-child(2) {
    animation:         rotation1 3s;
  }

  .animation:nth-child(3) {
    animation:         rotation2 3s;
    animation-delay:         0.2s;
  }

  .animation:nth-child(4) {
    animation:         rotation3 3s;
    animation-delay:         0.4s;
  }


  @keyframes rotation1 {
    from     { transform:rotate(-360deg); }
    30%,60%  { transform:rotate(20deg); }
    80%      { transform:rotate(0); }
  }

  @keyframes rotation2 {
    from     { transform:rotate(-360deg); }
    30%, 60% { transform:rotate(45deg); }
    80%      { transform:rotate(0); }
  }

  @keyframes rotation3 {
    from    { transform:rotate(-360deg); }
    30%,60% { transform:rotate(75deg); }
    80%     { transform:rotate(0); }
  }

  //Ben's profile page styling

  #profile-container {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 350px;
    text-align: center;

  }

  .profile-picture {
    width: 310px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 8%;
    text-align: center;
  }

  #profilePic {
    margin: 0 auto;
    text-align: center;
  }


.profile-fields, .profile-info {
  display: inline-block;
  text-align: left;
  padding: 10px;

}

.profile-info {
  width: 50%;
}

.media-left {
  width: 50%;
}


  #edit-button, #delete-button {
    display: inline-block;
    margin: 4%;
  }

  #profile-container {
    margin-top: -3%;

    h1 {
      text-align: center;
    }
  }

  #profile-about {
    height: 10%;
    text-align: left;
    width: inherit;
    margin-left: 41px;
    margin-bottom: 5%;
  }

  // Tinder bro

  section {
    margin-top: -40px;

    .box {
      position: relative;
      width: 400px;
      height: 400px;
      margin: 25px auto;
      border-radius: 5px;
      overflow: hidden;
      padding: 0;

      li {
        list-style-type: none;
      }

      .tile {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;

        div {
          position: relative;

          img {
            width: 400px;
            height: 400px;
            border-radius: 3px;

            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            user-drag: none;
            -webkit-touch-callout: none;
          }

          .info {
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
            color: #fff;
            bottom: 0;
            width: 100%;
            border-radius: 0px 0px 3px 3px;

            ul {
              padding: 15px;

              li {
                display: inline-block;
                font-weight: 700;

                h4 {
                  margin: 0px 5px;
                  font-size: 17px;
                  font-weight: 700;
                }

                img {
                  width: 70px;
                  height: 70px;
                  border-radius: 100%;
                  border: 3px solid #fff;

                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  background-size: cover;
                }

                &.right {
                  float: right;
                  margin: 10px;

                  i {
                    position: relative;
                    top: 15px;
                    font-size: 35px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
#deed-dot-deed {
  width: 180px;
  padding: 10px;
  margin-bottom:  -20px
}
