@import "bower";

// Variables
$yellow: #fff578;
$white:  #ffffff;
$black:  #2b2b2b;

$body-font-color: $black;
$body-font-family:  comfortaa, serif;

// Structure
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 10px;
  background: $white;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#top, #bottom, #left, #right {
  background: $yellow;
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 10px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 10px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

// Typeography
body {
  color: $body-font-color;
  font-family: $body-font-family;
}

#goodDeeds {
  margin-top: 50px;
}

.quote{
  font-weight: bold;
  font-size: 50px;
}

#vibes {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}


// Modules, e.g. header, footer

.navbar-default {
  background-color: $white;
  border-color:     $white;
}

.navbar {
  min-height: 200px;
  line-height: 200px;
}

.navbar-nav > li,
.navbar-nav > li > a,
.navbar-brand {
  line-height: 200px;
  min-height: 200px;
  padding-top: 0;
  padding-bottom: 0;
}


.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.navbar-default .navbar-brand {
  color: $body-font-color;
}

// Partials, e.g. Specific pages
@import "partials/requests/show";


// animations
// .title {
//   position: absolute;
//   margin: auto;
//   top: 0; left: 0; bottom: 0; right: 0;
//   width: 150px;
//   height: 150px;
//   padding: 0;
//   list-style: none;
//   text-align: center;
// }

.animation {
  position: absolute;
  width: 450px ;
  height: 450px ;
  border-radius: 5px;
  background: $yellow;
  opacity: 0.8;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
}
.animation:nth-child(2) {
  animation:         rotation1 3s;
}

.animation:nth-child(3) {
  animation:         rotation2 3s;
  animation-delay:         0.2s;
}

.animation:nth-child(4) {
  animation:         rotation3 3s;
  animation-delay:         0.4s;
}


@keyframes rotation1 {
  from     { transform:rotate(-360deg); }
  30%,60%  { transform:rotate(20deg); }
  80%      { transform:rotate(0); }
}

@keyframes rotation2 {
  from     { transform:rotate(-360deg); }
  30%, 60% { transform:rotate(45deg); }
  80%      { transform:rotate(0); }
}

@keyframes rotation3 {
  from    { transform:rotate(-360deg); }
  30%,60% { transform:rotate(75deg); }
  80%     { transform:rotate(0); }
}

h1 {
  text-align: center;
}

// Tinder bro

section {
  margin-top: -40px;

  .box {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 25px auto;
    border-radius: 5px;
    overflow: hidden;

    .tile {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;

      div {
        position: relative;

        img {
          width: 400px;
          height: 400px;
          border-radius: 3px;

          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-user-drag: none;
          user-drag: none;
          -webkit-touch-callout: none;
        }

        .info {
          position: absolute;
          background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
          color: #fff;
          bottom: 0;
          width: 100%;
          border-radius: 0px 0px 3px 3px;

          ul {
            padding: 15px;

            li {
              display: inline-block;
              font-weight: 700;

              h4 {
                margin: 0px 5px;
                font-size: 17px;
                font-weight: 700;
              }

              img {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                border: 3px solid #fff;

                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
              }

              &.right {
                float: right;
                margin: 10px;

                i {
                  position: relative;
                  top: 15px;
                  font-size: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}
